.catalog {
  height: auto;
  background-color: #F7EFEF;
  background-size: cover;



  &-main {
    font-family: Raleway;
    font-weight: bold;
    font-size: 18px;

    a {
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      color: #CACACA;
    }

    span {
      color: #8E1717;
    }
  }
}

.type-block {
  p {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #8E1717;
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    //line-height: 20px;
    display: inline-block;
    font-family: Raleway;
    font-style: bold;
    font-weight: normal;
    font-size: 16px;
    color: #1C1717;
  }

  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    //border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
  }

  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #8E1717;
    //background: #F87DA9;
    position: absolute;
    top: 3.5px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

.liter-block, .range-block, .alcohol-block {
  p {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: #8E1717;
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    //line-height: 20px;
    display: inline-block;
    font-family: Raleway;
    font-style: bold;
    font-weight: normal;
    font-size: 16px;
    color: #1C1717;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    //border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #8E1717;
    //background: #F87DA9;
    position: absolute;
    top: 3.5px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.sort {
  position: relative;
  z-index: 1;


  &__label {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}

.filter {
  position: static;
  width: 100%;
  text-align: center;
}

.controls {
  p {
    button {
      border: none;
      outline: none;
      background: #CB9494;
      padding: 10px 20px;
      transition: all 0.33s;

      svg {
        transition: all .33s;
      }

      &:hover,
      &:hover svg{
        fill: #CB9494;
        background: #F7EFEF;
        filter: drop-shadow(0px 4px 20px rgba(74, 26, 26, 0.17));
      }
    }
  }
}


@media screen and (max-width: 992px) {
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    border: 1px solid gray;
  }
}

