

.footer {
  background: #301717;
  &-links {
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: white;
    }
  }


  .danger {
    span {
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.58);
    }
  }
}

.search, .politics, .rights, .siteen {
  color: white;
  transition: all .33s;

  &:hover {
    text-decoration: none;
    color: #C56767;
  }
}



