.gift {
  background: #F7EFEF;
  &-block {
    h3 {
      font-family: Oswald;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      color: #8E1717;
    }

    p {
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      color: #1C1717;

      a {
        font-family: Oswald;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: #FFFFFF;
        &:hover {
          color: white !important;
        }
      }
    }
  }
}
