.intro {
    // position: absolute;
    // top: 100px;
    // z-index:3;
    background: url('../public/images/intro-bg.png') no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    transition: all .22s;
    overflow: hidden;
}

.links {
    a {
        margin: 15px 0;
      svg {
        //color: black;
        &:hover {
          fill: red;
        }
      }
    }
}

.more {
  span {
    color: white;
  }
  a {
    color: white !important;
    span {
      color: white !important;
    }
  }
}
