.intro {
    // position: absolute;
    // top: 100px;
    // z-index:3;
    background: url('../public/images/intro-bg.png') no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    transition: all .22s;
    overflow: hidden;
}

.links {
    a {
        margin: 15px 0;

        svg path {
          transition: all .33s;
        }
        &:hover svg path {
          fill: #8E1717 !important;
        }
    }
}

.more {
  span {
    color: white;
  }
  a {
    color: white !important;
    span {
      color: white !important;
    }
  }
}

//Кнопка Связи
.dws {
  position: fixed;
  //top: 50%;
  bottom: 0%;
  right: 0%;
  transform: translate(-50%, -50%);
}
.pulse, .bloc, .phone {
  position: fixed;
  width: 90px;
  height: 90px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}
.bloc {
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.pulse {
  background: #8E1717;
  position: relative;
  transition: .5s;
}
.phone {
  font-size: 50px;
  line-height: 74px;
  animation: phone .9s ease-in-out infinite;
}
.text {
  position: absolute;
  opacity: 0;
  text-transform: uppercase;
  font-weight: 700;
  top: 28px;
  font-size: 15px;
  transform: scaleX(-1);
  transition: .5s ease-in-out;
}
.phone svg {
  transition: .5s ease-in-out;
}
.pulse:hover {
  background: linear-gradient(137.49deg, #8E1717 15.51%, #E17676 90.43%);
}
.pulse:hover svg {
  transition: .5s ease-in-out;
  transform: scale(0);
}
.pulse:hover .text {
  transform: scaleX(1);
  transition: .5s ease-in-out;
  opacity: 1;
}
.pulse:hover::before,
.pulse:hover::after {
  content: '';
  position: absolute;
  border: 1px solid #8E1717;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 1.8s linear infinite;
  opacity: 0;
}
.pulse:hover::after {
  animation-delay: .5s;
}

@keyframes phone {
  0%, 100% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(21deg);
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
