
.promo-title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: #8E1717;
}

.promo-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #1C1717;
}

.soon {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #D5AAAA;
}
