
// Your customize CSS
body {
    font-family: 'Oswald', 'Raleway', sans-serif;
}

ul,li {
  list-style: none;
}

.container {
  max-width: 1370px;
}

.button {
  cursor: pointer;
}

.btn {
  display: inline !important;
  &-border {
    border: 1px solid #8E1717;
    background: none;
    transition: all .33s;
    padding: 13px 20px;
    color: #8E1717;

    &:hover {
      background: #8E1717;
      border: 1px solid #8E1717;
      color: white;
    }
  }
}
