
// Your customize CSS
body {
    font-family: 'Oswald', 'Raleway', sans-serif;
}

a:hover svg path{
  fill: white;
}

.btn {
  display: inline !important;
  &-border {
    border: 1px solid #8E1717;
    background: none;
    transition: all .33s;
    padding: 13px 20px;
    color: #8E1717;

    &:hover {
      background: #8E1717;
      border: 1px solid #8E1717;
      color: white;
    }
  }
}
