@import '../../node_modules/bootstrap/scss/bootstrap';
@import './custom.scss';

// Blocks
@import 'blocks/header';
@import 'blocks/intro';
@import 'blocks/promo';
@import 'blocks/choice';
@import 'blocks/gift';
@import 'blocks/insta';
@import 'blocks/contacts';

